@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/inter/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/inter/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: payda;
  src: url("/assets/fonts/payda/PeydaWebFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: payda;
  src: url("/assets/fonts/payda/PeydaWebFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: payda;
  src: url("/assets/fonts/payda/PeydaWebFaNum-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: payda;
  src: url("/assets/fonts/payda/PeydaWebFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: payda;
  src: url("/assets/fonts/payda/PeydaWebFaNum-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: payda;
  src: url("/assets/fonts/payda/PeydaWebFaNum-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
